{% load staticfiles bootstrap %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Formulario de contacto</title>
  <link rel="stylesheet" href="{% static 'vendor/bootstrap/css/bootstrap.css' %}" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <h1>Formulario de contacto</h1>
    <form action="" method="post">
      {% csrf_token %}
      {{ form.name|bootstrap }}
      {{ form.email|bootstrap }}
      {{ form.message|bootstrap }}
      <div class="box-footer text-right">
        <button type="submit" class="btn btn-primary">Enviar</button>
      </div>
    </form>
  </div>
</body>
</html>
